apiVersion: v1
kind: Service
metadata:
  name: ogx-service
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: ogx
  ports:
    - name: ogx-api
      port: 8321
      targetPort: 8321
      protocol: TCP
    - name: ogx-ui
      port: 8322
      targetPort: 8322
      protocol: TCP
